* {
    padding: 0;
    margin: 0;
}

.line {
    width: 100%;
    height: 20px;
    background-color: #000;
    position: fixed;
}

nav {
    height: 15%;
}

nav>.info {
    padding: 40px 60px 0 80px;
    display: flex;
    justify-content: space-between;

}

nav>.info>h2 {
    font-family: 'Rakkas', serif;
    color: #FFF;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

nav>.info>.menu {
    color: #000;
    font-family: Raleway;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    gap: 25px;
    text-align: center;
}

header {
    padding: 0 80px 0 80px;
    /* height: 400px; */
}

header h1 {
    color: #FFF;
    font-family: Raleway;
    font-size: 180px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-bottom: 60px;
}

header p {
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 100%;
    text-align: center;
    line-height: 50px;
    letter-spacing: 2px;
}

.body {
    background-image: url(images/главная\ \(1\).png);
    background-repeat: no-repeat;
    height: 1980px;

}

.apartments {
    background-image: url(../images/nomer.png);
    background-repeat: no-repeat;
    height: 3969px;
}

.menu-p {
    color: #fff;
    font-family: Raleway;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    gap: 25px;
    text-align: center;
}

.menu button {
    background-color: #00000000;
    border: none;
}

.block_1 {
    background: #8B6E55;
    width: 1334px;
    height: 713px;
    left: 10%;
    padding: 40px -1px 0 80px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    align-content: space-around;
    position: absolute;
    width: 1331.02px;
    height: 713.19px;
    left: 57px;
    top: 1087px;
    background: #8B6E55;

}

.transparent_1 {
    background: rgba(0, 0, 0, 0.45);
    width: 804.57px;
    height: 392.35px;
    display: flex;
    align-content: stretch;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
    flex-direction: column;
    position: absolute;
    left: 526px;
    top: 152px;
}

.img_1 {
    position: absolute;
    width: 888px;
    height: 650px;
    left: 35px;
    top: 28px;
}

.text_1 {
    position: absolute;
    width: 705px;
    height: 166px;
    left: 69px;
    top: 25px;
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 80px;
    text-align: center;
    color: #FAFAFA;
}

.block_1 {
    background: #8B6E55;
    width: 1334px;
    height: 713px;
    left: 10%;
    padding: 40px -1px 0 80px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    align-content: space-around;
    position: absolute;
    width: 1331.02px;
    height: 713.19px;
    left: 291px;
    top: 1087px;
    background: #8B6E55;

}

.transparent_1 {
    background: rgba(0, 0, 0, 0.45);
    width: 804.57px;
    height: 392.35px;
    display: flex;
    align-content: stretch;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
    flex-direction: column;
    position: absolute;
    left: 526px;
    top: 152px;
}

.img_1 {
    position: absolute;
    width: 888px;
    height: 650px;
    left: 35px;
    top: 28px;
}

.text_1 {
    position: absolute;
    width: 705px;
    height: 166px;
    left: 69px;
    top: 25px;
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 80px;
    text-align: center;
    color: #FAFAFA;
}

.text_2 {
    position: absolute;
    font-family: 'Merriweather', serif;
    width: 731.07px;
    height: 156.94px;
    left: 35px;
    top: 210px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: right;
    color: #FFFFFF;
}

.text_3 {
    position: absolute;
    width: 278px;
    height: 60px;
    left: 523px;
    top: 335px;
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    color: #FFFFFF;
}

.block_2 {
    background: #8B6E55;
    width: 1334px;
    height: 713px;
    left: 10%;
    padding: 40px -1px 0 80px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    align-content: space-around;
    position: absolute;
    width: 1331.02px;
    height: 713.19px;
    left: 291px;
    top: 1950px;
    background: #8B6E55;

}

.transparent_2 {
    background: rgba(0, 0, 0, 0.45);
    width: 804.57px;
    height: 392.35px;
    display: flex;
    align-content: stretch;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
    flex-direction: column;
    position: absolute;
    left: 0px;
    top: 152px;
}

.img_3 {
    position: absolute;
    width: 888px;
    height: 650px;
    left: 400px;
    top: 28px;
}

.text_4 {
    position: absolute;
    width: 705px;
    height: 166px;
    left: 69px;
    top: 25px;
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 80px;
    text-align: center;
    color: #FAFAFA;
}

.text_5 {
    position: absolute;
    font-family: 'Merriweather', serif;
    width: 731.07px;
    height: 156.94px;
    left: 35px;
    top: 210px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: right;
    color: #FFFFFF;
}

.text_6 {
    position: absolute;
    width: 278px;
    height: 60px;
    left: 523px;
    top: 335px;
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    color: #FFFFFF;
}

.block_3 {
    background: #8B6E55;
    width: 1334px;
    height: 713px;
    left: 10%;
    padding: 40px -1px 0 80px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    align-content: space-around;
    position: absolute;
    width: 1331.02px;
    height: 713.19px;
    left: 291px;

    top: 2813px;
    background: #8B6E55;

}

.transparent_3 {
    background: rgba(0, 0, 0, 0.45);
    width: 804.57px;
    height: 392.35px;
    display: flex;
    align-content: stretch;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
    flex-direction: column;
    position: absolute;
    left: 526px;
    top: 152px;
}

.img_5 {
    position: absolute;
    width: 888px;
    height: 650px;
    left: 35px;
    top: 28px;
}

.text_7 {
    position: absolute;
    width: 705px;
    height: 166px;
    left: 69px;
    top: 25px;
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 80px;
    text-align: center;
    color: #FAFAFA;
}

.text_8 {
    position: absolute;
    font-family: 'Merriweather', serif;
    width: 731.07px;
    height: 156.94px;
    left: 35px;
    top: 210px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: right;
    color: #FFFFFF;
}

.text_9 {
    position: absolute;
    width: 278px;
    height: 60px;
    left: 523px;
    top: 335px;
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    color: #FFFFFF;
}

footer {

    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

footer h3 {
    color: #FFF;
    font-family: Rakkas;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

footer p {
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 200% */
    letter-spacing: 3px;
    text-transform: uppercase;
}

footer .social {
    display: flex;
    justify-content: center;
    gap: 1%;
}

footer .social .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #000;
}

footer .prava {
    padding: 0 80px 0 80px;
    display: flex;
    justify-content: space-between;
}

footer .prava p {
    color: rgba(255, 255, 255, 0.50);
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 200% */
}

footer .prava span {
    display: flex;
    gap: 20px;
}

footer .prava span p {
    color: rgba(255, 255, 255, 0.50);
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

footer {
    position: absolute;
    width: 100%;
    height: 393px;
    left: 0px;
    top: 3576px;

    background: linear-gradient(180deg, #000000 0%, #8B6E55 100%);

}

.cnopka {
    position: absolute;
    top: 406px;
    right: 98px;
    width: 200px;
    height: 50px;
    border-radius: 8px;
    border: none;
    background-color: #000;
    color: #FFF;
}

/* Модальное */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);


}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    width: 23%;
    border-bottom: 2px solid #CACACA;
    background: #8B6E55;
    padding: 20px 50px 50px 50px;


}

.header {
    background-color: #AC9077;
}

h2 {
    color: rgba(61, 61, 61, 0.80);
    text-align: center;
    font-family: Gabriela;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 133.333% */
}

.form {
    display: flex;
    justify-content: center;
    gap: 95px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 440px;
    height: 100%;
}

hr {
    width: 100%;
}

input {
    border-radius: 6px;
    background: #FFF;
    box-shadow: 0px 0px 0px 1px rgba(115, 115, 115, 0.27), 0px -1px 0px 0px rgba(0, 0, 0, 0.27);
    color: #3D3D3D;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    height: 40px;
    width: 170px;
    align-items: center;
    flex-shrink: 0;
}

label {
    color: #3D3D3D;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 133.333% */
}

.main a {
    color: #000;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}

.btn-cl {
    border-radius: 40px;
    background: #000;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    width: 100%;
    margin-top: 10px;
}


.modal1 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: #8b6e55;
    height: 950px;
    width: 100%;
    padding: 2% 0 0 0;
}

.modal-content1 {
    display: flex;
    padding: 100px 20px 20px 20px;
    width: 90%;
}

.modal-content1 ul {
    list-style: none;
    margin: 0;
    margin-left: 10%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.modal-content1 li {
    cursor: pointer;
    float: left;
    display: inline;
    border-left: 1px solid #eee;
    padding: 0px 25px 0px 25px;
}

.modal-content1 li:first-child {
    border: none;
}

.modal-content1 li span {
    display: block;
    transition: .3s;
}

.modal-content1 ul>li>a {
    color: rgba(0, 0, 0, 0.41);
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    margin: 10px 0 1000px 0;
    text-decoration: none;
}

.modal-content1 ul>li>a:hover {
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    text-decoration: underline white solid 3px;
}


.close {
    color: #ffffff;
    float: right;
    font-size: 60px;
    font-weight: bold;
    padding-right: 2%;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}