* {
    padding: 0;
    margin: 0;
}

nav {
    height: auto;
    padding: 10px 80px 0 80px;
    background-color: #8B6E55;
    display: flex;
    justify-content: space-between;


}

nav>h2 {
    font-family: 'Rakkas', serif;
    color: #FFF;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

nav>.menu {
    color: #000;
    font-family: Raleway;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    gap: 25px;
    text-align: center;
}

main {
    padding: 2% 0 4% 0;
    display: flex;
    justify-content: space-around;
}



.data a {
    color: #000;
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

h5 {
    color: #F9F9F9;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: start;
}

.data {
    width: 358px;
    height: 500px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #AC9077;
    text-align: center;
    flex-direction: column;
    padding: 20px 50px 10px 20px;


}

button {
    height: 50px;
    font-family: Jost;
    font-size: 16px;
    width: 200px;
    align-items: center;
    background-color: #FFF;
    border: 1px #000 solid;
    cursor: pointer;
    margin: 10% 0 10% 0;
    border-radius: 5px;
}

.tt {
    margin-top: 20px;
    color: #000;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    justify-content: start;
}

h4 {
    color: #000;
    text-align: right;
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.bron {
    gap: 25px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 908px;
    height: 400px;
    flex-shrink: 0;
    background-color: #AC9077;
    border-radius: 8px;

}

table {
    border-collapse: collapse;
    border-style: solid;
    background-color: #F3F3F3;


}

td {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
    width: 200px;
    height: 80px;
    text-align: center;
}

.cancel {
    justify-content: center;
    padding-top: 10px;
    display: flex;

    /* padding: 20px; */
}

.cancel a {
    color: #DD2E44;
    font-family: Josefin Sans;
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}

.str {
    margin-top: 80px;
}

.str>a {
    color: #000;
    font-size: 20px;
    margin-left: 10px;
}

footer {
    background-image: url(/личныйкаб/images/Rectangle26.png);
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

footer h3 {
    color: #FFF;
    font-family: Rakkas;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

footer p {
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 200% */
    letter-spacing: 3px;
    text-transform: uppercase;
}

footer .social {
    display: flex;
    justify-content: center;
    gap: 1%;
}

footer .social .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #000;
}

footer .prava {
    padding: 0 80px 0 80px;
    display: flex;
    justify-content: space-between;
}

footer .prava p {
    color: rgba(255, 255, 255, 0.50);
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 200% */
}

footer .prava span {
    display: flex;
    gap: 20px;
}

footer .prava span p {
    color: rgba(255, 255, 255, 0.50);
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 200% */
}